@model List<EquipmentListItemViewModel>
<div class="container mt-4">
    <h2>Danh mục thiết bị thể thao</h2>
    <a href="/Equipments/Stats" class="btn btn-info text-white my-2">Xem thống kê kho</a>
    <table class="table table-striped table-bordered mt-2">
        <thead class="table-dark">
            <tr><th>Mã</th><th>Tên thiết bị</th><th>Hãng</th><th>Giá bán</th><th>SL</th><th>Trạng thái</th><th>Hành động</th></tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Code</td>
                    <td>@item.Name</td>
                    <td>@item.Brand</td>
                    <td class="text-danger fw-bold">@item.PriceText</td>
                    <td>@item.Quantity</td>
                    <td>@item.Status</td>
                    <td><a href="/Equipments/Detail/@item.Id" class="btn btn-sm btn-primary">Chi tiết</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>